:root {
    --main-text-color: #fff;
    --second-text-color: #ABABB5;
    --btn-color: #FA4F09;
    --bg-color: #27272E;
    --footer-bg: #1a1a1a;
    --card-bg: #3A3A44;
}

@font-face {
	font-family: 'Rubik'; 
	src: url(Rubik/static/Rubik-Bold.ttf); 
}

.header-wrap, .header-link, 
.header-item, .reviews-wrap, 
.footer-wrap, .same-wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    color: var(--main-text-color);
    font-family: 'Rubik';
}

main {
    width: 100%;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

ul {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0 0 20px 0;
    background: url(img/bg/bg-screen.png);
}

.header-wrap {
    height: 300px;
    padding: 40px;
}

.header-text {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    font-size: 50px;
}

.header-subtitle {
    font-size: 20px;
    color: var(--second-text-color);
}

.btn {
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    color: var(--main-text-color);
    background: var(--btn-color);
    box-shadow: 0px 10px 20px 0px rgba(255, 83.99999999999999, 83.99999999999999, 0.24);
}

.header-prod {
    width: 300px;
    height: 300px;
}

.header-link {
    margin: 20px auto 0 auto;
}

.header-item {
    width: 30%;
    height: 150px;
    border: 2px solid #3A3A44;
    border-radius: 40px;
}

.header-item-img {
    width: 100px;
}


/* ABOUT */

    .about {
        width: 100%;
        background: url(img/bg/bg-about.png) center center no-repeat;
    }

    .about-wrap {
        height: auto;
    }

    .header-subtitle {
        margin: 20px 0;
    }

/* ABOUT */

/* VIDEO */
    .video {
        width: 100%;
        height: 450px;
        position: relative;
        background: var(--bg-color);
    }

    .video-size {
        position: absolute;
        width: 100%;
    }

    .video-text {
        position: relative;
        z-index: 5;
    }
    
/* VIDEO */


/* SPECS */
    .specs {
        width: 100%;
        padding: 40px 0 20px 0;
        position: relative;
        background: var(--bg-color);
    }

    .specs-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        opacity: .4;
    }

    .specs h2 {
        font-size: 30px;
        text-align: center;
    }

    .specs-wrap {
        width: 90%;
        margin: 40px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }

    .specs-item-wrap {
        width: 85%;
    }

    .specs-item {
        width: 400px;
        height: 140px;
        display: flex;
        justify-content: space-between;
    }

    .specs-item-title {
        font-size: 30px;
        margin: 0 0 15px 0;
    }

    .specs-item-descr {
        font-size: 15px;
    }

    .specs-marker {
        width: 37px;
        height: 37px;
        background: url(img/specs/tick.png) center center/cover no-repeat;
    }

/* SPECS */

/* REVIEWS */

    .reviews {
        width: 100%;
        height: 500px;
        background: url(img/bg/bg-reviews.png) center center/cover no-repeat;
    }

    .reviews-wrap {
        margin: 40px auto 0 auto;
    }

    .reviews h2 {
        font-size: 30px;
        padding: 15px 0 0 0;
    }

    .reviews h2, .reviews h3 {
        text-align: center;
    }

    .reviews-item {
        max-width: 280px;
        margin: 0 0 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        padding: 20px 0;
        box-shadow: 0px 20px 60px 0px rgba(10, 10, 12, 0.3215686274509804);
        background: var(--card-bg);
    }

    .reviews-face {
        width: 80px;
        height: 80px;
        margin: 0 0 15px 0;
        border-radius: 50px;
    }

    .reviews-text {
        width: 80%;
        margin: 15px 0 10px 0px;
    }

    .reviews-name {
        font-size: 25px;
        margin: 10px auto;
    }

    .reviews-profession {
        font-size: 15px;
        margin: 10px auto;
    }

/* REVIEWS */

/* SAME */
    .same {
        width: 100%;
        padding: 20px 0;
        background: url(img/bg/bg-reviews.png) center center/cover no-repeat;
    }

    .same-title {
        font-size: 30px;
        margin: 5px 0 25px 0;
        text-align: center;
    }

    .same-wrap {
        height: 100%;
        flex-wrap: wrap;
    }

    .same-img {
        width: 90%;
        height: 50%;
    }

    .card-btn {
        padding: 9px 15px;
        border: none;
        border: 2px solid var(--btn-color);
        background: none;
        border-radius: 16px;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        color: var(--btn-color);
    }

/* SAME */

/* FORM */

    .form {
        width: 100%;
        padding: 20px;
        background: url(img/bg/bg-screen.png);
    }

    .form-title {
        font-size: 30px;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .form-wrap {
        width: 500px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    input {
        height: 50px;
        padding: 0 0 0 30px;
        border: 2px solid var(--btn-color);
        border-radius: 50px;
        background: none;
        color: var(--second-text-color);
        font-size: 20px;
    }



/* FORM */



/* FOOTER */
footer {
    width: 100%;
    height: 50px;
    background: var(--footer-bg);
}

.footer-wrap {
    height: 100%;
}
/* FOOTER */
